<nav>
    <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview" *ngFor="let menu of menus" [routerLinkActive]="['active','menu-open']">
            <a href="javascript:void(0)"><i class="bx" [ngClass]="menu.icon"></i><span>{{menu.title}}</span> <i class="fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li *ngFor="let submenu of menu.children" routerLinkActive="active"><a [routerLink]="[menu.path, submenu.path]">{{ submenu.title }}</a></li>
            </ul>
        </li>
    </ul>
</nav>