<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" data-dismiss="modal" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Data Maestra <fa-icon [icon]="['fas', 'spinner']" class="mr-1" [pulse]="true" *ngIf="loadData"></fa-icon></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <form [formGroup]="formGroup" class="needs-validation">
                            <div class="form-group" *ngIf="dataModal==null">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defined-table"
                                    (change)="onChangeDefinedTable($event)" 
                                    >
                                    <label class="custom-control-label" for="defined-table">Definir tabla</label>
                                </div>
                            </div>
                            <div class="form-group"  *ngIf="dataModal!==null">
                                <label for="type">Id:</label><br>
                                <span>{{ dataModal.id }}</span>
                            </div>
                            <div class="form-group">
                                <label for="type">Tipo:</label>
                                <select *ngIf="!definedTable" id="type" class="form-control mb-3" formControlName="type">
                                    <option disabled selected>-- SELECCIONE --</option>
                                    <option value [value]="item.text" *ngFor="let item of commonDataMasterType">{{item.text}}</option>
                                </select>
                                <label *ngIf="formGroup.controls.type.errors && formGroup.controls.type.value" id="type" class="error mt-2 text-danger" for="type">Campo obligatorio.</label>

                                <input *ngIf="definedTable" type="text" class="form-control" id="name" placeholder="Ingrese nombre de la tabla"
                                
                                formControlName="type" 
                                [ngClass]="[
                                            (formGroup.controls.name.errors && formGroup.controls.name.value != '')? 'is-invalid' : 
                                            (formGroup.controls.name.value != '')? 'is-valid' : ''
                                        ]" 
                                >
                            </div>
                            <div class="form-group">
                                <label for="name">Nombre:</label>
                                <input type="text" class="form-control" id="name" placeholder="Ingrese nombre de registro"
                                formControlName="name" 
                                [ngClass]="[
                                            (formGroup.controls.name.errors && formGroup.controls.name.value != '')? 'is-invalid' : 
                                            (formGroup.controls.name.value != '')? 'is-valid' : ''
                                        ]" 
                                >
                            </div>
                            <div class="form-group">
                                <label for="description">Descripción:</label>
                                <textarea class="form-control" id="description" placeholder="Ingrese una descripción" rows="4"
                                formControlName="description" 
                                [ngClass]="[
                                            (formGroup.controls.description.errors && formGroup.controls.description.value != '')? 'is-invalid' : 
                                            (formGroup.controls.description.value != '')? 'is-valid' : ''
                                        ]" 
                                ></textarea>
                            </div>
                            <div class="form-group">
                                <label for="active">Activo:</label>
                                <select id="active" class="form-control" formControlName="active">
                                    <option value="">--SELECCIONE--</option>
                                    <option value [value]="item.value" *ngFor="let item of commonAuditStatus">{{item.text}}</option>
                                </select>
                                <label *ngIf="formGroup.controls.active.errors && formGroup.controls.active.value" id="active" class="error mt-2 text-danger" for="active">Campo obligatorio.</label>
                            </div>
                            <button type="button" class="btn btn-primary mr-2 mt-15" (click)="onClickDone()" [disabled]="formGroup.invalid || submit === true">
                                <fa-icon [icon]="['fas', 'spinner']" class="mr-1" [pulse]="true" *ngIf="submit"></fa-icon>
                                <!-- <fa-icon [icon]="['fas', 'ban']" class="mr-1" *ngIf="!submit && !formGroup.invalid"></fa-icon> -->
                                Guardar
                            </button>
                            <button type="button" (click)="onClickClose()" class="btn btn-danger mt-15">Cancelar</button>
                         
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>