<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" data-dismiss="modal" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <form>
                            <div class="form-group">
                                <label for="name">Nombre comercial:</label>
                                <input type="text" class="form-control" id="name" placeholder="Ingrese nombre comercial">
                            </div>
                            <div class="form-group">
                                <label for="name">RUC:</label>
                                <input type="text" class="form-control" id="name" placeholder="Ingrese el RUC">
                            </div>
                            <div class="form-group">
                                <label for="name">Dirección:</label>
                                <input type="text" class="form-control" id="name" placeholder="Ingrese la dirección">
                            </div>
                            <div class="form-group">
                                <label for="name">Teléfono fijo:</label>
                                <input type="text" class="form-control" id="name" placeholder="Ingrese teléfono fijo">
                            </div>
                            <div class="form-group">
                                <label for="name">Teléfono móvil:</label>
                                <input type="text" class="form-control" id="name" placeholder="Ingrese teléfono celular">
                            </div>
                            <div class="form-group">
                                <label for="name">Correo:</label>
                                <input type="text" class="form-control" id="name" placeholder="Ingrese correo">
                            </div>
                            <div class="form-group">
                                <label for="name">Dirección:</label>
                                <textarea class="form-control" id="description" placeholder="Ingrese dirección" rows="4"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="name">Departamento:</label>
                                <select id="active" class="form-control mb-3">
                                    <option disabled selected>-- SELECCIONE --</option>
                                    <option value="1">ACTIVO</option>
                                    <option value="2">NO ACTIVO</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="name">Provincia:</label>
                                <select id="active" class="form-control mb-3">
                                    <option disabled selected>-- SELECCIONE --</option>
                                    <option value="1">ACTIVO</option>
                                    <option value="2">NO ACTIVO</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="name">Distrito:</label>
                                <select id="active" class="form-control mb-3">
                                    <option disabled selected>-- SELECCIONE --</option>
                                    <option value="1">ACTIVO</option>
                                    <option value="2">NO ACTIVO</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="active">Representante legal:</label>
                                <select id="active" class="form-control mb-3">
                                    <option disabled selected>-- SELECCIONE --</option>
                                    <option value="1">ACTIVO</option>
                                    <option value="2">NO ACTIVO</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="description">Detalle:</label>
                                <textarea class="form-control" id="description" placeholder="Ingrese una descripción" rows="4"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="active">Activo:</label>
                                <select id="active" class="form-control mb-3">
                                    <option disabled selected>-- SELECCIONE --</option>
                                    <option value="1">ACTIVO</option>
                                    <option value="2">NO ACTIVO</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2 mt-15">Guardar</button>
                            <button type="submit" class="btn btn-danger mt-15">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>